@import './base/_variables.css';
@import './base/_base.css';


@import './layout/_header.css';
@import './layout/_main.css';


@import './components/_buttons.css';
@import './components/_modal.css';
@import './components/_table.css';



.search-add {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 150px);
    outline: none;
}

.input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.button.secondary {
    background-color: #6c757d;
}

.button.secondary:hover {
    background-color: #5a6268;
}

.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.hidden-sm {
    display: table-cell;
}

.form-container {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

